<h1> Login...</h1>

<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="PassWord">
	<button>Login</button>
</form>

<a href="/" role="button">Back</a>

<li><a href="/login">Login..</li>
<li><a href="/register">Sign up..</li>
<li><a href="/logout">Logout..</li>