<h1>This is Secret page</h1>

<p> You found now....!!</p>

<img style="width:400px" src="./public/img/alia.jpg"><br>
<a href="/" role="button">Back</a><br/><br/>

<li><a href="/login">Login..</li>
<li><a href="/register">Sign up..</li>
<li><a href="/logout">Logout..</li>